    /* 
.wrapper {
    max-width: 1000px;
    padding-left: 100px;
    padding-top: 50px;
}

.wrapper-button {
    padding-top: 40px;
}

.title {
    display: none;
}
*/
    
    .acord {
        max-width: 1000px;
        padding-left: 100px;
    }
    
    .item {
        padding-top: 40px;
    }
    
    .wrapper {
        border: 0.5px solid;
    }
    
    .list-item {
        display: none;
    }